<div class="col-md-6">
  <%= link_to event_path(obj) do %>
    <div class="card">
      <img class="card-img-top img-fluid" src="<%= obj.hero_image_url %>">
      <div class="card-block">
        <h4 class="card-title"><%= obj.name %></h4>
        <p class="card-text">
          <%= truncate(obj.extended_html_description.html_safe, length: 50) %>
        </p>
      </div>
    </div>
  <% end %>
</div>
