<div class='events-header' style='background-image: url(<%= header_background_image_url %>)'>
  <h1 class="text-sm-center">Welcome to Ticket Box</h1>
  <div class="container">
    <h2> Discover upcoming events </h2>
    <form>
      <input type="text" class="form-control" name="search" placeholder="Search for events, shows, courses...">
    </form>
  </div>
</div>
<div class="container-fluid events-list">

  <% @events.each do |event| %>
    <% if check_event_validation(event) %>
      <%= render 'card', obj:event %>
    <% end %>
  <% end %>
</div>
